<!-- /views/rules.erb-->

<h1> Welcome to Rock-Paper-Scissors <h1>

<ul> 
    <li><a href="/rock" > Play Rock </a></li>
    <li><a href="/paper"> Play Paper </a></li>
    <li><a href="/scissors"> Play Scissors </a></li>
</ul>

<div class="conatiner">
 <div class="horizontal-line"></div>
 <div class="angled-line"></div>
</div>
